.container {
    background : linear-gradient(rgba(255,0,0,0.5),rgba(0,0,0,0.5) ), url(ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    height : 1000px;
    background-repeat : no-repeat;
    background-size: cover;
    background-position : center center ;
    background-attachment: fixed;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    text-align : center;
}


body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  text-align : center;
}



.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding : 10px;
  margin : 10px;
  font-size : 15px;
}

.left-side {
  display: flex;

}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-size : 17px;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}


.code {
  fill : rgba(255, 123, 0, 0.5);
  width  : 350px;
  position : relative ;
  bottom : 100px;
  left : 50px
}

@media only screen and (min-width : 768px) { 

  .code {
    fill : rgba(255, 123, 0, 0.5);
    width  : 650px;
    position : relative ;
    top : 75px;
    left : 50px
  }
}



@media only screen and (min-width : 1000px) { 

  .code {
    fill : rgba(255, 123, 0, 0.5);
    width  : 650px;
    position : relative ;
    top : 75px;
    left : 620px
  }
}




.wrapper {
width : 100%;
}



.img-info {
  width : 100%;
}


.img-info h2 {
  padding : 30px 30px 20px;
  font-family : arial;
  font-size : 50px;
  color : #111;
  line-height : 44px;
}


.img-info p {
  padding : 0px 30px 20px;
  font-family : arial;
  font-size : 20px;
  color : #111;
  line-height : 24px;
}

.img-me {
  width : 100%;
}




@media only screen and (min-width : 768px) { 

    .wrapper {
        width : 600px;
        margin : 0 auto ;
    }
    .img-info h2 {
      padding : 30px 0px 0px;
      font-size : 55px;

  }
  
  
  .img-info p {
      padding : 20px 0px 0px;
      font-size : 25px;
  }

  .img-me {
   padding-top : 30px;
  }
}


@media only screen and (min-width : 1000px) {
 
  .wrapper {
      width : 1000px;
      margin : 0 auto;
  }

  .img-info {
      width : 50%;
      float : right;
  }

  .img-info h2 {
      padding : 30px 0px 0px 50px;
      position : relative;
      bottom : 70px;
  }
  
  
  .img-info p {
      padding : 20px 0px 0px 50px;
      position : relative;
      bottom : 70px;
  }
   
  .img-me {
      padding-top : 0px;
      width : 50%;
      float : left;
  }
}